/* Emojis:  https://emojipedia.org/ */
/* Other HTML symbol codes: https://www.toptal.com/designers/htmlarrows/symbols/ */

ul:nth-child(2) li {
  list-style-type: "❤️";
}

ul:nth-child(3) li {
  list-style-type: "🔥";
}

ul:nth-child(4) li {
  list-style-type: "\2605";
}

ul:nth-child(5) li {
  list-style-type: "\2618";
}

/* general style */
html {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, aqua, magenta);
}
ul {
  display: inline-block;
  background: #efefef;
  margin: 10px;
  padding: 25px 25px 25px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
li {
  padding-left: 5px;
  font-size: 20px;
  line-height: 28px;
}
h1 {
  color: rgb(92, 8, 170);
}
